.companyContainer {
  display: flex;
}

.companyInfo,
.companyTitle,
.companyPrice {
  margin-left: 8px;
  font-weight: 400;
}

.companyTitle {
  font-size: 20px;
}

.companyPrice {
  font-size: 18px;
  color: #757575;
}