* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.error {
  color: red;
  margin: 8px 0;
}

.container-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 350px;
  }
}